*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: $familyFont;
  font-size: $mainFont;
}
img {
  max-width: 100%;
}
.l-container {
  max-width: 1200px;
  margin: 0 auto;
}
