.features-container {
  text-align: center;
  padding: 1rem;
  @include from(s) {
    position: relative;
  }
}
.feature-content {
  @include from(s) {
    display: flex;
    justify-content: flex-end;
  }
}
.features-data-container {
  @include from(s) {
    width: 40%;
  }
}
.image-featured {
  @include from(s) {
    position: absolute;
    width: 50%;
    top: 4rem;
    left: -2rem;
  }
}
.data-inf {
  @include from(s) {
    margin-top: 3rem;
  }
}
