.main-header {
  width: 100%;
  padding: 1rem;
  text-align: center;
  @include from(l) {
    padding: 6rem;
  }
}
.container-banner {
  @include from(s) {
    width: 80%;
    margin: 0 auto;
  }
}
.banner__logo {
  margin-top: 3rem;
}
.data-title {
  color: $darkGrayish;
  font-size: 1.7rem;
  margin-top: 3rem;
}
.data-description {
  margin-top: 1.6rem;
  color: $grayishBlue;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.buttons-cta-download {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include from(s) {
    flex-direction: row;
    justify-content: center;
  }
}
.btn {
  padding: 1rem;
  border: none;
  margin-top: 1.2rem;
  width: 90%;
  border-radius: 100px;
  font-size: 0.9rem;
  outline: none;
  &:focus {
    transform: scale(1);
  }
  transform: scale(1.1);
  &.btn-green {
    box-shadow: 0 0.1rem 0.3rem $cyanStrong;
    background: $cyanStrong;
    color: #fff;
  }
  &.btn-blue {
    box-shadow: 0 0.1rem 0.3rem $lightBlue;
    background: $lightBlue;
    color: #fff;
  }
  @include from(s) {
    width: 25%;
    margin: 1rem;
  }
}
